﻿@charset "utf-8";
/* CSS Document */
p, 
h2, 
h4, 
#copyright, 
#desenvolvedor, 
#desenvolvedor a, 
#formas_pagamento, 
form h4, 
form ul li option {
	font-family:Verdana, Geneva, sans-serif;
}
ul#cardapio li a h2{
	font-family: 'Oswald',sans-serif;
	text-transform:uppercase;
	font-size:16px;
}

p, form h4{
	font-size:12px;
}
form h4{
	font-weight:normal;
}
a {
	text-decoration:none;
}
#delivery h4, #delivery h4 a {
	font-family: 'Gentium Basic', serif;
	font-size:26px;
	color:#FFF;
}
#endereco {
	font-family: 'Gentium Basic', serif;
	font-style:normal;
	font-weight:bold;
	font-size:18px;
}
#delivery h4{
	font-weight:400;
}
.ie #menu, .ie #menu a {
	font-size:16px;
}
.ie #menu ul li{
	margin-left:25px;

}
#menu, #menu a, h3 {
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	font-size:18px;
}

#menu, #menu a, #copyright, #delivery,#endereco, #desenvolvedor, #formas_pagamento, h2  {
	color:#FFF;
}
h4 {
	color:#000;
}
#desenvolvedor a{
	color: #ff0000;
}

#copyright, #desenvolvedor, #desenvolvedor a, #formas_pagamento {	
    font-size: 10px;
    font-weight: bold;
}

h2, h4, label {
	font-size:12px;
	font-weight:bold;
}

label{
	/*text-transform:uppercase;*/
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
}
label.error {
	font-size:12px;
	color:#93191E;
	
}
#cardapio h2 {
	color:#000;
}