﻿@charset "utf-8";
/* CSS Document */
html,body {
	height:100%;
	margin:0;
	padding:0;	
}
*{
	margin:0;
	padding:0;
}
ul li{
	list-style:none;
}
body{
	background:url(../imagens/background/conteudo2.jpg) center repeat #f1e3c7;
}
img {
	border:0;
}
header, #delivery, #topo, html,body, footer{
	width:100%;
}
header {
	height:389px;
}
hgroup {
	width:950px;
	margin:auto;
	padding-top:0px;
}
#delivery h4{
	margin-left: 25px;
    padding-top: 15px;
}
#delivery{
	background:url(../imagens/background/topo.jpg);
	height:80px;
	border-bottom: #877f6f 1px solid;
}
#topo {
	background: url("../imagens/background/topo_2.jpg") repeat scroll 0 0 transparent;
    box-shadow: 0 1px 15px;
	-webkit-box-shadow: 0px 5px 15px black;
    height: 300px;
    position: absolute;
}
#topo section{ 
	width:950px;
	margin:-90px auto 0 auto;
}
#wrapper, #conteudo {
	margin:auto;
	height:auto;
	min-height:400px;
	width:100%;

}
#wrapper {
	/*max-width:1400px;*/
	background:#CCC;
	background:url(../imagens/background/conteudo.jpg) center top repeat;
	
}

#conteudo {
	min-height: 380px;
    min-width: 950px;
	
    padding-top: 260px;
}


#menu {
	margin-top:-1px;
	margin-left:0;
	background:url(../imagens/background/menu.png) no-repeat center;
	height:64px; width:950px;
	box-shadow: 1px 1px 5px #000;
	border-radius: 15px;
}
#menu {
}
footer {
	background: url("../imagens/background/footer.jpg") repeat scroll 0 0 transparent;
    box-shadow: 0 -2px 15px black;
    height: 150px;
}
#menu ul {
	height: 64px;
    margin-left: 6px;
    padding-top: 18px;
}
#menu ul li {
	float:left;
	list-style:none;
	margin-left:18px;
}
.ie #menu ul{
	margin-left:0px;
}
.ie #menu ul li{
	margin-left:22px;
	padding-top:5px;
}

#ilustrativo{
	background: url("../imagens/background/footer/comida.png") repeat scroll 0 0 transparent;
    height: 185px;
    margin: 0px auto auto;
    max-width: 965px;
    min-width: 950px;
    width: 100%;
}
#center{
	width:950px;
	margin:auto;
	position:relative;
}

#endereco {
	padding: 10px 0 0 10px;
  display: inline-block;
}
#copyright{
	clear: both;
}

#footer_direita{
	position:absolute;
	right:0;
	top:12px;
}
.aviso-proibido {
  vertical-align: top;
  display: inline-block;
  padding-top: 10px;
}
#copyright,
#desenvolvedor {
  width: 49%;
  display: inline-block;
}
#desenvolvedor {
  text-align:right;
}
#interno{
	height: 100%;
    margin: 12px auto auto;
    min-height: 500px;
    position: relative;
    width: 950px;
}
#esquerda {
	left: 0;
    position: absolute;
    top: 0;
}
#pagina {
	margin-left: 315px;
    position: static;
}
address {
	font-style:normal;
}
#mapa{
	margin-top:5px;
}



/* layout modules */
.l-social { margin-left: 380px; position: absolute; z-index: 100; }
.l-social-link { color:#fff; }
.l-social-text{ float: left; margin-top: 20px; width: 90px; }
.l-social-img{ position: absolute; margin-top: 27px; margin-left: -10px; }

.botao-flutuante {
  position:absolute;
  top:225px;
  right:5px;
  z-index: 10;
}

.pedido-footer {
  display: inline-block;
  margin: 10px 0;
}

.pedido-footer img {
  float: right;
}