﻿@charset "utf-8";
/* CSS Document */
#promocao {
	background: url("../imagens/background/paginas/home/promocao.png") no-repeat scroll 0 0 transparent;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #000000;
    height: 364px;
    overflow: hidden;
    padding: 15px 20px 0;
    width: 259px;
	
}
#promocao h3 {
	margin-top:10px;
	font-size:24px;
	color:#ffca30;
}
#promocao p {
	color:#FFF;
	font-size:14px;
}
#direita {
    min-height: 380px;
    right: 0;
    top: 0;
    width: 633px;
}
#direita h3 {
	color: #93191e;
	margin-bottom:8px;
}
#links-home img:first {
	margin-right:10px;
	
}
#links-home{
	position:relative;
	margin-top:8px;
}
#links-home img {
	border-radius:15px;
	box-shadow: 1px 1px 5px #000000;
}

#rodape-home {
	margin-top:15px;
	position:relative;
}
#a-casa{
	background: url("../imagens/background/paginas/home/nossa-casa.jpg") repeat scroll 0 0 transparent;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 5px #000000;
    display: inline-block;
    height: 81px;
    margin-left: 1px;
    margin-top: 15px;
    padding: 8px 10px 10px;
    width: 614px;
}
#a-casa h3{
	color:#fee34c;
	margin:0;
	padding:0;
}
#vinhos {
	background: url("../imagens/background/paginas/home/vinhos.jpg") repeat scroll 0 0 transparent;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 5px #000000;
    height: 95px;
    overflow: hidden;
    padding: 10px 0 0 20px;
    width: 279px;
	margin-right:15px;
	margin-top:15px;
}
#vinhos p {
	width:185px;
	color:#FFF;
}
#vinhos h3{
	color:#67060b;
}
#produtos{
	border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 5px #000000;
    height: 105px;
    overflow: hidden;
    position: absolute;
    right: -2px;
    top: 0;
    width: 634px;
}




form ul{
	margin-top:12px;
}
form ul li {
	width:410px;
	margin-bottom:8px;
	position:relative;
}

form ul li label {
	display: inline-block;
    width: 140px;
}
form ul li input, textarea {
	width:260px;
}
form ul li textarea {
	margin-left:145px;
	margin-top: -12px
}
form ul li select {
	width:200px;
	margin-left: 5px;
}
form ul li input[type=button]{
	float:right;
	width:auto;
}
form ul li input[type=checkbox]{
	width:auto;
	margin-right:12px;
}
label.error {
	position: absolute;
    right: -180px;
	font-weight:normal;
	width:150px;
}
#assinar-newsletter, #assinar-newsletter label{
	width:auto;
}


/* Cardápio */
ul#cardapio li{
	float:left;
	padding:4px;
	margin-right:4px;
}


#descricao ul li{
	border-bottom: 1px dotted #000000;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 625px;
}
#descricao ul li:last-child {
	border:none;
}

