﻿@charset "utf-8";
/* CSS Document */
#slides{
	background: url("../imagens/topo/sombra.png") no-repeat scroll center bottom transparent;
  height: 329px;
  margin-left: 25px;
  margin-top: -10px;
  width: 900px;
  position: relative;
}
.slides_container {
    width:900px;
    height:300px;
}
.pagination{
	position:absolute;
	z-index: 1000;
	top:0;
	right:0;
	margin-right:5px;
	margin-top:10px;
}
.pagination li {
	width:12px;
	height:12px;
	float:left;
	list-style:none;
	margin-right:6px;
}
.pagination li a {
	background-position: 0 0;
	display: block;
	float: left;
	height: 0;
	overflow: hidden;
	padding-top: 12px;
	width: 12px;
	background:url(../imagens/topo/paginacao.png) top;
}
.pagination li.current a, .pagination li.current a:hover{
	background:url(../imagens/topo/paginacao.png) bottom;
}
.pagination li a:hover {
	background:url(../imagens/topo/paginacao.png) center;
}
.slides_container div {
	width:900px;
    height:300px;
    display:block;
}